* {
  box-sizing: border-box;
}
body {

  font-family: 'PT Sans', sans-serif;
  background: lightgrey;
  margin: 0;
  /* width: 100%; */
  /* padding: 0; */
}
.container {
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.8s;
}

a:hover {
  color: darkgrey;
}
.main-nav li a {
  /* margin-right: 1px;
  margin-left: -50px; */
  margin-top: 3px;
  background: white;
  display: block;
  font-size: 2em;

}
.name {
  padding-left: 32px;
  font-size: 2.3em;

}
.main-nav {
  padding: 0 15px;

}
.name,
.main-nav{
  text-align: center;
  list-style-type: none;
}

.introduction {
  padding-top: 50px;
  text-align: center;
}
.introduction p {
  padding-top: .9em;
  padding-left: 1em;
  padding-right: 1em;
  color: grey;
  font-size: 2em;


}
.portfolio-img {
  width: 80%;
  /* height: 500px; */
}
.content {
  margin-top: 4rem;
  /* padding-top: 1em; */
  /* padding-left: 0; */
  /* width: 100%; */
  background: white;
  text-align: center;
}
.content p,
.end-content p {
  font-size: 2rem;
  /* padding-top: 1.5em; */
  padding-left: .5em;
  padding-right: .5em;
}
.content-name {
  padding-bottom: 3.5rem;
  padding-top: 7rem;
  /* font-size: 2em; */
}
.search-page,
.travel-app,
.map-spots,
.photo-gallery,
.calculator {
  margin-top: 125px;

}

.end-content {
  /* background: lightgrey; */
  text-align: center;
  padding-top: 3rem;
}
.end-content p {
  color: grey;
}

.calculator {
  padding-bottom: 3rem;
}
span {
  color: black;
  font-weight: bold;
}

footer {
  border-top: 2px solid grey;
  padding: 35px 15px;
  margin: 0 15px;
  /* flex-direction: row;
  display: inline-block; */
  /* text-align: center; */
}
#backtotop {
  float:right;
  /* padding-bottom: 30px */
}





.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  .container {
    /* width: 90%; */
    margin: 0 auto;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }
  .main-nav li {
    /* display: inline-block; */
    text-align: center;
    background: lightgrey;
  }
  .main-nav li a {
    background: lightgrey;
    padding: 0px 10px;
    font-size: 1.9rem;
  }
  .introduction p {
    padding: 0 25px;
    margin: 0;
    font-size: 2rem;
    text-align: left;
    vertical-align: top;
    overflow: hidden;
  }
  .portfolio-img {
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    width: 40%;

  }
  .content {
    background: white;

  }
  .content-name {
    font-size: 4rem;
    padding-bottom: 0rem;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;

  }
  .wrap p {
    font-size: 1.5rem;
  }
.marketing-page {
  margin-top: 125px;
}
.marketing-page,
 .search-page,
  .travel-app,
  .map-spots,
  .photo-gallery,
  .calculator{
  width: 50%;
  /* display: inline-block; */
}
.wrap img {
  width: 90%;
}
.end-content h1 {
  font-size: 1.8rem;
}
.end-content p {
  font-size: 1.3rem;
}

}

@media (min-width: 1024px) {
  .name,
  .main-nav {
    flex-direction: row;
    display: inline-block;
  }
  .main-nav {
    float: right;
  }
  .main-nav li {
    padding-top: 10px;
    display: inline-block;
  }
  .introduction p {
    font-size: 1.9rem;
  }

  .marketing-page,
   .search-page,
    .travel-app,
    .map-spots,
    .photo-gallery,
    .calculator {
    width: 33.3%;
}
  .content-name {
    font-size: 2rem;
  }
  .wrap h1 {
    font-size: 1.8rem;
  }
  .wrap p {
    font-size: 1.2rem;
  }
}
